@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

/*---Classes Below Here---*/

.grid-container {
	display:grid;
	grid-template-areas: 
		'header header header header header header'
		'navbar navbar navbar navbar navbar navbar'
		'left left middle middle right right'
		'footer footer footer footer footer';
	}
.header {
	grid-area: header;
	background-color: #6395F2;
	padding: 10px;
	text-align: center;
	font-size: 30px;
}
.navbar {
	grid-area: navbar;
	background-color: #091834;
}

@media (max-width : 700px ){
	.grid-container {
		grid-template-areas: 
			'header header header header header header'
			'navbar navbar navbar navbar navbar navbar'
			'left left left left left left'
			'middle middle middle middle middle middle'
			'right right right right right right'
			'footer footer footer footer footer footer';
	}
}